a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-heading {
	display: block;
	padding: 1.8em 2.6em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.6rem;
	// color: red;
}

.first-letter {
	color: $marigold;
}