//Oxford blue
$main-color: #0e1428;

//Tangerine
$secondary-color: #f18805;

//Marigold
$marigold: #f0a202;

//Flame
$flame: #d95d39;

//Morning blue
$morning-blue: #7b9e89;

//White
$pure-white: #fff;

//Black
$pure-black: #000;
