:root {
	//basic colors
	--pure-white: #ffffff;
	--pure-black: #000000;
	--certain-grey: #333;
	--hero-shadow: rgba(0, 0, 0, 0.8);
	--uncertain-grey: #ddd;

	//coolors
	--pine-tree: #1f271b;
	--blue-sapphire: #19647e;
	--verdigris: #28afb0;
	--orange-yellow-crayola: #f4d35e;
	--sandy-brown: #f4d35e;

	//fonts
	--font-heading: 'Dancing Script', cursive;
	--main-font: 'Montserrat', sans-serif;
}
